@model LinkedInEmailFinder.Models.Subscriptions

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Subscriptions</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubscriptionId" class="control-label"></label>
                <input asp-for="SubscriptionId" class="form-control" />
                <span asp-validation-for="SubscriptionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubscriptionName" class="control-label"></label>
                <input asp-for="SubscriptionName" class="form-control" />
                <span asp-validation-for="SubscriptionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubscriptionPrice" class="control-label"></label>
                <input asp-for="SubscriptionPrice" class="form-control" />
                <span asp-validation-for="SubscriptionPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubscriptionDescription" class="control-label"></label>
                <input asp-for="SubscriptionDescription" class="form-control" />
                <span asp-validation-for="SubscriptionDescription" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UseDiscountPrice" /> @Html.DisplayNameFor(model => model.UseDiscountPrice)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SubscriptionDiscountPrice" class="control-label"></label>
                <input asp-for="SubscriptionDiscountPrice" class="form-control" />
                <span asp-validation-for="SubscriptionDiscountPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubscriptionPeriodInMonths" class="control-label"></label>
                <input asp-for="SubscriptionPeriodInMonths" class="form-control" />
                <span asp-validation-for="SubscriptionPeriodInMonths" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SubscriptionDisplayOrder" class="control-label"></label>
                <input asp-for="SubscriptionDisplayOrder" class="form-control" />
                <span asp-validation-for="SubscriptionDisplayOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

