@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> smanager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LinkedIn Email Finder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-light   border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LinkedIn Email Finder</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 header-color">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" style="color: mediumturquoise">Install</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="How">How it Works</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Pricing">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Help">Help</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Blog">Blog</a>
                        </li>
                    </ul>
                </div>
            </div>



            <div class="container">
                <div class="col-md-6">&nbsp;</div>
                <div class="col-md-3">&nbsp;</div>
                <div class="col-md-3 mr-1 pr-1">
                    <ul class="navbar-nav mr-1 pr-1">

                        @if (User.Identity.IsAuthenticated == false)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark text-md-right" asp-area="" asp-controller="account" asp-action="register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark text-md-right" asp-area="" asp-controller="Login" asp-action="login">Login</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <form method="post" id="frmLogout">
                                    <button asp-action="logout" asp-controller="Login" class=" btn btn-info ">Sign out</button>
                                </form>
                            </li>
                        }

                    </ul>
                </div>
            </div>

        </nav>
       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-light">
    <div class="ml-4">
            &copy; 2020 - Linkedin Email Finder - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
   
</body>
</html>
